{% extends "base.html" %}

{% block content %}
  <header class="text-center">
    <h1 class="text-4xl font-bold">HELLO</h1>
  </header>
  <p class="text-base-content my-4">
    And welcome to a new approach to learning English, focusing on natural conversations with native speakers. No boring text books - we'll talk about the things you're interested in. We'll make innovative use of technology and media to make sure you stay motivated and achieve your language goals.
  </p>
  <div class="youtube-embed mt-8">
    <iframe
      src="https://www.youtube.com/embed/64oCY65ZLQc"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
  </div>
{% endblock %}
