@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply link;
  }
}

.youtube-embed {
  width: 100%; /* Take up the full width of the parent */
  aspect-ratio: 16 / 9; /* Maintain 16:9 aspect ratio */
}

.youtube-embed iframe {
  width: 100%;
  height: 100%;
}

p {
  margin-bottom: 20px;
}
