<!-- NAVIGATION -->
<div class="navbar bg-base-100 shadow-sm">
  <div class="flex-1">
    <p class="text font-bold"><a href="/">{{ request.organisation }}</a></p>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a class="no-underline" href="/prompts">AI Drills</a></li>
      <!-- <li><a class="no-underline" href="/posts">Blog</a></li> -->
      {% if user.is_authenticated %}
        <li><a class="no-underline" href="{% url 'progress' %}">Progress</a></li>
      {% endif %}
    </ul>
  </div>
</div>