@import "tailwindcss";
@plugin "daisyui";
 
.bg-a1 { background-color: #79A8E6; }
.bg-a2 { background-color: #4781E6; }
.bg-b1 { background-color: #FFb736; }
.bg-b2 { background-color: #FF9134; }
.bg-c1 { background-color: #CC00CC; }
.bg-c2 { background-color: #800080; }




